<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

<!--     TODO #3 - Use the same list display from search.html-->
    <div th:fragment="job-list">
        <div th:if="${jobs}">
            <h1 th:text="${jobs.size()}  + ' results '"></h1></div>
<!--        <span th:unless="${jobs}"><h1> "no jobs" </h1> </span>-->
    <table class="job-listing" th:each="job : ${jobs}">


            <tr th:each="column : ${job}">
            <td th:text=" ${column.key}">

            </td>
            <td th:text=" ${column.value}"></td>
        </tr>
    </table>


    </div>
</div>

</body>
</html>